#logo{
    position: absolute;
    left: 16%;
    top: 10%;   

    width: 240px;
    height: 40px;
    background-image: url("../statics/logo2.jpg");
    border: black 2px solid;
}

#princi{
    position: absolute;
    left: 35%;
    top: 10%;

    width: 310px;
    height: 40px;
    background-color: #f0a1bc;
    border: black 2px solid;
}

#principal{
    position: absolute;
    left: 44%;
    top: 11.5%;

    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

#expos{
    position: absolute;
    left: 59.5%;
    top: 10%;

    width: 310px;
    height: 40px;
    background-color: #f0a1bc;
    border: black 2px solid;
}

#exposiciones{
    position: absolute;
    left: 69%;
    top: 11.5%;

    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

#section{
    position: absolute;
    left: 16%;
    top: 16.4%;   

    width: 860px;
    height: 440px;
    
    border: black 2px solid;
    background-image: url("../statics/Cultura-Japonesa_20.jpg");
}

#gale1{
    position: absolute;
    left: 17.7%;
    top: 18.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img1{
    position: absolute;
    left: 18.7%;
    top: 20%;   

}

#gale2{
    position: absolute;
    left: 39.7%;
    top: 18.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img2{
    position: absolute;
    left: 42%;
    top: 20%;   

}

#gale3{
    position: absolute;
    left: 61.7%;
    top: 18.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img3{
    position: absolute;
    left: 63.5%;
    top: 19.5%;   
}



#gale4{
    position: absolute;
    left: 17.7%;
    top: 40%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img4{
    position: absolute;
    left: 25%;
    top: 41%;   
}


#gale5{
    position: absolute;
    left: 39.7%;
    top: 40%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img5{
    position: absolute;
    left: 43%;
    top: 41.4%; 
}

#gale6{
    position: absolute;
    left: 61.7%;
    top: 40%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img6{
    position: absolute;
    left: 69%;
    top: 41%; 
}


#gale7{
    position: absolute;
    left: 17.7%;
    top: 61.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img7{
    position: absolute;
    left: 24%;
    top: 63.5%;
}

#gale8{
    position: absolute;
    left: 39.7%;
    top: 61.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img8{
    position: absolute;
    left: 46%;
    top: 62.5%;  
}

#gale9{
    position: absolute;
    left: 61.7%;
    top: 61.5%;   

    width: 260px;
    height: 120px;
    
    border: black 2px solid;
}

#img9{
    position: absolute;
    left: 69%;
    top: 62.5%;
}
